body {
  background-color: #2e3447;
  margin: auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* canvas {
  cursor: crosshair;
} */

p {
  color: white;
}